/* Bootsrap redefine */
.container {
	width: 840px;
}

.navbar {
	border-radius: 0;
}

/* Chart styles */
.chart {
	width: 400px;
	height: 400px;
}

.ac-legend td {
	padding: 0 5px 0 0;
}

/* Common screens */
.screen-header {
	margin-bottom: 2em;
}

.stats-container h4 {
	margin-top: 0;
	text-decoration: underline;
}
.stats-container .note {
	border-top: 1px #DDD solid;
	padding-top: .7em;
	margin-top: 3em;
	font-size: 14px;
	color: #333;
}